.banner {
  background-image: url(./assets/banner.png);
}

.easy {
  background-image: url(./assets/hero-shape.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.rectangle {
  background-image: url(./assets/rectangular.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 45px;
  width: 300px;
  margin: auto;
}
.rectangle1 {
  background-image: url(./assets/rectangle1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 45px;
  width: 300px;
  margin: auto;
}
.btn {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 114px;
  height: 33px;
  cursor: pointer;
}
.feature {
  background-image: url(./assets/bottom-shape.png);
}
.btn-fill {
  background-image: url(./assets/fill.png);
}
.btn-outline {
  background-image: url(./assets/button-outline.png);
}
.shape {
  background-image: url(./assets/black-shape.png);
}
